body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Acme', sans-serif;
	background-image: url("Space.jpg");
	color: white;
}h1 {
	text-align: center;
	font-family: 'Baloo Chettan 2', cursive;
}table, td, th {
	border: 2px solid white;
}
table {
	border-collapse: collapse;
	width: 100%;
}th {
	height: 50px;
}
img {
	height: 130px;
	width: 200px;
}
div.source {
	text-align: left;
}