body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Acme', sans-serif;
	background-image: url("Space.jpg");
	color: white;
}h1 {
	text-align: center;
	font-family: 'Baloo Chettan 2', cursive;

}table, td, th {
	border: 4px solid white;
}
table {
	border-collapse: collapse;
	width: 100%;
}th {
	height: 60px;
}
img {
	height: 130px;
	width: 160px;
}
div.source {
	text-align: left;
}
p.jupiter, .saturn, .mars, .uranus, .data {
	font-family: 'Baloo Chettan 2', cursive;
	text-shadow: 2px 2px 20px #FF0000;
}
h3 {
	font-family: 'Baloo Chettan 2', cursive;
	text-shadow: 2px 2px 15px #2400FF;
}