body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Acme', sans-serif;
	background-image: url("Images/Space.jpg");
	color: white;
}h1 {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}table, td, th {
	border: 2px solid white;
}
table {
	border-collapse: collapse;
	width: 100%;
}